.dots {
  padding: 8px 4px;
  font-size: 14px;
  color: #888;
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

.active {
    background: #4f5d6d;
    color: white;
    border-color: #333;
}